@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: inter;
}

@keyframes bubblein{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.station-main{
    background-image: url("assets/bgstation.jpg");    
}

.line-main{
    background-image: url("assets/bglines.jpg");
    background-position: center;
}

.bubble{
    animation: bubblein 0.5s forwards ease-in-out;
}

.bubble2{
    animation-delay: 0.1s;
}

.bubble3{
    animation-delay: 0.2s;
}

.menu-item {
    position: relative;
  }

.menu-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #701a75;
    transition: width 0.3s ease;
  }
  
  .menu-item:hover::after {
    width: 100%;
  }

@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#admin:hover > svg{
    animation: rotation 2s infinite;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.btn:hover>* {
    fill: white;
    color: white;
}

@keyframes modalopenanim{
    0% {
        transform: translateX(100%);
    } 100% {
        transform: translateX(0);
    }
}

@keyframes closemodalanim{
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(100%);
        display: none;
    }
}

@keyframes closemodal{
    0%{
        transform: translateX(0%)
    } 100%{
        transform: translateX(100%)
    }
} 

@media screen and (min-width: 1024px){
    .modal{
        display: none;
    }

    #menu-dropdown:checked ~ .modal {
        display: none;
    }

    #menu-dropdown:checked ~ .modal-menu {
        display: none;
    }
}



@media screen and (max-width: 1024px){
    #menu-dropdown:checked ~ .modal{
        display: block;
    }

    #menu-dropdown:checked ~ .modal-menu{
        display: flex;
    }

    #menu-dropdown:not(:checked) ~ .modal {
        animation: closemodal 0.5s forwards ease-in-out;
        display: none;
    }

    #menu-dropdown:not(:checked) ~ .modal-menu {
        animation: closemodal 0.5s forwards ease-in-out;
    }

    #menu-dropdown:checked ~ .modal-menu {
        animation: modalopenanim 0.5s forwards ease-in-out;
    }

    #menu-dropdown:not(:checked) ~ .modal-menu {
        animation: closemodalanim 0.5s forwards ease-in-out;
    }
}

#menu-dropdown:checked ~ #menu-checkbox > #topbar {
    animation: topopenanim 0.5s forwards ease-in-out;
}

#menu-dropdown:checked ~ #menu-checkbox > #middlebar {
    animation: middleopenanim 0.5s forwards ease-in-out;
}

#menu-dropdown:checked ~ #menu-checkbox > #botbar {
    animation: botopenanim 0.5s forwards ease-in-out;
}

#menu-dropdown ~ #menu-checkbox > #topbar {
    animation: topcloseanim 0.5s ease-in-out;
}

#menu-dropdown ~ #menu-checkbox > #middlebar {
    animation: middlecloseanim 0.5s ease-in-out;
}

#menu-dropdown ~ #menu-checkbox > #botbar {
    animation: botcloseanim 0.5s ease-in-out;
}

@keyframes topopenanim{
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(0.5rem) rotate(45deg);
    }
}

@keyframes topcloseanim{
    0% {
        transform: translateY(0.5rem) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes botopenanim{
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}

@keyframes botcloseanim{
    0% {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes middlecloseanim{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes middleopenanim{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

